In [1]:
import plotly.express as px
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('HF-RF.csv')
df.head()

df.columns

Index(['Timestamp', 'Name', 'Contact', 'Email',
       'Which year are you currently studying in?', 'College/Institution Name',
       'Stream',
       'Have you ever done any hardware projects involving arduinos, transistors and other basic electronics components or participated previously in any hardware workshops?',
       'Choose your favourable shift for Hardware Fellowship',
       'What do you expect from Hardware Fellowship?',
       'Transaction code (in transfer receipt) {add remark = "Offline Payment" if you have made offline payment}',
       'Remark', 'Tapendra', 'Bipin', 'Aayush', 'Sakar', 'Srijan', 'Yogesh'],
      dtype='object')

In [3]:
df=df[['Name', 'Contact', 'Email', 'Which year are you currently studying in?',
       'College/Institution Name', 'Stream',
       'Have you ever done any hardware projects involving arduinos, transistors and other basic electronics components or participated previously in any hardware workshops?',
       'Choose your favourable shift for Hardware Fellowship']]

df.columns=['Name','Contact','Email','Year','College','Stream','PreviouslyDone','Shift']

In [4]:
df.head()

,Name,Contact,Email,Year,College,Stream,PreviouslyDone,Shift
0,Sijan Shrestha,9.818190e+09,sijan.shrestha135@gmail.com,1st year,+2,+2,No,Morning (8:00am - 9:30am)
1,Bijendra Kumar Gupta,9.849088e+09,info.oseen@gmail.com,4th year,Anna University,Electrical & Electronics,Yes,Evening (5:15pm - 6:45pm)
2,Pawan bista,NaN,pawanbista80@gmail.com,Intermediate,"Chitkara University, India",NaN,NaN,Morning (8:00am - 9:30am)
3,riwaz rayamajhi,9.827345e+09,riwazrayamajhi@gmail.com,1st year,HCoE,NaN,NaN,NaN
4,santu jhankri Magar,NaN,jhankrisantu@gmail.com,1st year,HCoE,NaN,NaN,NaN

In [5]:
df.Contact=df.Contact.astype(str)
df.head()

,Name,Contact,Email,Year,College,Stream,PreviouslyDone,Shift
0,Sijan Shrestha,9818190065.0,sijan.shrestha135@gmail.com,1st year,+2,+2,No,Morning (8:00am - 9:30am)
1,Bijendra Kumar Gupta,9849087688.0,info.oseen@gmail.com,4th year,Anna University,Electrical & Electronics,Yes,Evening (5:15pm - 6:45pm)
2,Pawan bista,nan,pawanbista80@gmail.com,Intermediate,"Chitkara University, India",NaN,NaN,Morning (8:00am - 9:30am)
3,riwaz rayamajhi,9827344800.0,riwazrayamajhi@gmail.com,1st year,HCoE,NaN,NaN,NaN
4,santu jhankri Magar,nan,jhankrisantu@gmail.com,1st year,HCoE,NaN,NaN,NaN

In [6]:
df.dropna(inplace=True)
df.head()

,Name,Contact,Email,Year,College,Stream,PreviouslyDone,Shift
0,Sijan Shrestha,9818190065.0,sijan.shrestha135@gmail.com,1st year,+2,+2,No,Morning (8:00am - 9:30am)
1,Bijendra Kumar Gupta,9849087688.0,info.oseen@gmail.com,4th year,Anna University,Electrical & Electronics,Yes,Evening (5:15pm - 6:45pm)
5,Sumit Karna,9845366417.0,karnasumit85@gmail.com,1st year,"Himalayan College of Engineering, Chyasal",Computer,No,Evening (5:15pm - 6:45pm)
6,Dhiraj Sah,9866045550.0,sahilrocks986@gmail.com,3rd year,"Himalayan College of Engineering, Chyasal",Computer,No,Evening (5:15pm - 6:45pm)
7,Sambad Khatiwada,9840686406.0,sambadkhatiwada939@gmail.com,1st year,"Himalayan College of Engineering, Chyasal",Computer,No,Evening (5:15pm - 6:45pm)

In [7]:
'''---------------------------Groupby - Categorical Variable Exploration ---------------------------'''
pd.unique(df.PreviouslyDone)

array(['No', 'Yes'], dtype=object)

In [8]:
df.Stream.apply(lambda x:x.capitalize()).unique()

array(['+2', 'Electrical & electronics', 'Computer', 'Bca', 'Electronics',
       'Electrical', 'Bsc. csit', 'It', 'Computer science', 'Bsc csit',
       'Bscscit', 'Civil', 'Beit', 'It engineering ', 'Be it',
       'Information technology', 'Csit', 'Mechanical', 'Aerospace',
       'Chemical', 'Industrial', 'Physics', 'B.sc. physics'], dtype=object)

In [9]:
df.College.apply(lambda x:x.title().strip()).unique()

array(['+2', 'Anna University',
       'Himalayan College Of Engineering, Chyasal',
       'Kathford International College Of Engineering And Management, Balkumari',
       'Kathmandu Engineering College, Kalimati',
       'Khowpa College Of Engineering, Bhaktapur',
       'Lalitpur Engineering College, Chakupat',
       'Madan Bhandari Memorial', 'Madan Bhandari Memorial Collage',
       'Madan Bhandari Memorial College',
       'National College Of Engineering, Talachhikhel Lalitpur',
       'Nepal College Of Information Technology(Ncit), Balkumari Lalitpur',
       'New Summit College, Shantinagar', 'Pulchowk Campus, Pulchowk',
       'Sagarmatha Engineering College, Lalitpur',
       'Thapathali Engineering Campus, Thapathali', 'Tri-Chandra',
       'Tri-Chandra Multiple Campus, Kathmandu',
       'Trichandra Multie College'], dtype=object)

In [10]:
df.Year.unique()

array(['1st year', '4th year', '3rd year', '2nd year'], dtype=object)

# Welcome to Data Analytics

### Five Step of Data Analytics

![da.jpg](da.jpg)

#### Step 1 : Define the Question?

## _`One Question To Answer Always (in this case)`_ 
# Who are my Audience?
#### Q1: Which college among (IT | Engineering | Other)?
#### Q2: Which Year (1st | 2nd | 3rd | 4th)?
#### Q3: Which faculty (Technical | Non-Technical)?

#### Step 2 : Collect the data

Just import the file give to you!

In [60]:
df=pd.read_csv('HF-RF.csv')
df.head()

,Timestamp,Name,Contact,Email,Which year are you currently studying in?,College/Institution Name,Stream,"Have you ever done any hardware projects involving arduinos, transistors and other basic electronics components or participated previously in any hardware workshops?",Choose your favourable shift for Hardware Fellowship,What do you expect from Hardware Fellowship?,"Transaction code (in transfer receipt) {add remark = ""Offline Payment"" if you have made offline payment}",Remark,Tapendra,Bipin,Aayush,Sakar,Srijan,Yogesh
0,6/22/2022 7:50:56,Sijan Shrestha,9.818190e+09,sijan.shrestha135@gmail.com,1st year,+2,+2,No,Morning (8:00am - 9:30am),I look forward to learning and gaining experie...,09BOJVQ,NaN,True,False,False,False,False,False
1,6/21/2022 12:03:51,Bijendra Kumar Gupta,9.849088e+09,info.oseen@gmail.com,4th year,Anna University,Electrical & Electronics,Yes,Evening (5:15pm - 6:45pm),more information about wireless programming,34686595,NaN,True,False,False,False,False,False
2,NaN,Pawan bista,NaN,pawanbista80@gmail.com,Intermediate,"Chitkara University, India",NaN,NaN,Morning (8:00am - 9:30am),NaN,not payed,NaN,True,False,False,False,False,False
3,NaN,riwaz rayamajhi,9.827345e+09,riwazrayamajhi@gmail.com,1st year,HCoE,NaN,NaN,NaN,NaN,NaN,NaN,True,False,False,False,False,False
4,NaN,santu jhankri Magar,NaN,jhankrisantu@gmail.com,1st year,HCoE,NaN,NaN,NaN,NaN,NaN,NaN,True,False,False,False,False,False

#### Step 3 : Clean the data
```
    1. Get rid of unnecessary columns.
    2. Get rid of row with empty value (NaN,nan,null etc).
    3. Standarize value.

```

### Get rid of unnecessary columns.

In [61]:
## Take only necessary columns
df.columns

Index(['Timestamp', 'Name', 'Contact', 'Email',
       'Which year are you currently studying in?', 'College/Institution Name',
       'Stream',
       'Have you ever done any hardware projects involving arduinos, transistors and other basic electronics components or participated previously in any hardware workshops?',
       'Choose your favourable shift for Hardware Fellowship',
       'What do you expect from Hardware Fellowship?',
       'Transaction code (in transfer receipt) {add remark = "Offline Payment" if you have made offline payment}',
       'Remark', 'Tapendra', 'Bipin', 'Aayush', 'Sakar', 'Srijan', 'Yogesh'],
      dtype='object')

In [62]:
## Take only necessary columns
df=df[['Name', 'Contact', 'Email', 'Which year are you currently studying in?',
       'College/Institution Name', 'Stream',
       'Have you ever done any hardware projects involving arduinos, transistors and other basic electronics components or participated previously in any hardware workshops?',
       'Choose your favourable shift for Hardware Fellowship']]


# Rename the columns
df.columns=['Name','Contact','Email','Year','College','Stream','PreviouslyDone','Shift']
df.head()

,Name,Contact,Email,Year,College,Stream,PreviouslyDone,Shift
0,Sijan Shrestha,9.818190e+09,sijan.shrestha135@gmail.com,1st year,+2,+2,No,Morning (8:00am - 9:30am)
1,Bijendra Kumar Gupta,9.849088e+09,info.oseen@gmail.com,4th year,Anna University,Electrical & Electronics,Yes,Evening (5:15pm - 6:45pm)
2,Pawan bista,NaN,pawanbista80@gmail.com,Intermediate,"Chitkara University, India",NaN,NaN,Morning (8:00am - 9:30am)
3,riwaz rayamajhi,9.827345e+09,riwazrayamajhi@gmail.com,1st year,HCoE,NaN,NaN,NaN
4,santu jhankri Magar,NaN,jhankrisantu@gmail.com,1st year,HCoE,NaN,NaN,NaN

### Get rid of row with empty value (NaN,nan,null etc).

In [63]:
## simply drop rows with na
df.dropna(inplace=True)
df.head()

,Name,Contact,Email,Year,College,Stream,PreviouslyDone,Shift
0,Sijan Shrestha,9.818190e+09,sijan.shrestha135@gmail.com,1st year,+2,+2,No,Morning (8:00am - 9:30am)
1,Bijendra Kumar Gupta,9.849088e+09,info.oseen@gmail.com,4th year,Anna University,Electrical & Electronics,Yes,Evening (5:15pm - 6:45pm)
5,Sumit Karna,9.845366e+09,karnasumit85@gmail.com,1st year,"Himalayan College of Engineering, Chyasal",Computer,No,Evening (5:15pm - 6:45pm)
6,Dhiraj Sah,9.866046e+09,sahilrocks986@gmail.com,3rd year,"Himalayan College of Engineering, Chyasal",Computer,No,Evening (5:15pm - 6:45pm)
7,Sambad Khatiwada,9.840686e+09,sambadkhatiwada939@gmail.com,1st year,"Himalayan College of Engineering, Chyasal",Computer,No,Evening (5:15pm - 6:45pm)

### Standarize value.

In [64]:
## standarize college
#### Categroize into IT | Engineering | Other


df.College.unique()

array(['+2', 'Anna University',
       'Himalayan College of Engineering, Chyasal',
       'Kathford International College of Engineering and Management, Balkumari',
       'Kathmandu Engineering College, Kalimati',
       'Khowpa College of Engineering, Bhaktapur',
       'Lalitpur Engineering College, Chakupat',
       'Madan Bhandari memorial ', 'Madan Bhandari Memorial Collage',
       'Madan bhandari memorial collage ',
       'Madan Bhandari Memorial College',
       'Madan Bhandari Memorial College ',
       'National College of Engineering, Talachhikhel Lalitpur',
       'Nepal College of Information Technology(NCIT), Balkumari Lalitpur',
       'New Summit College, Shantinagar', 'Pulchowk Campus, Pulchowk',
       'Sagarmatha Engineering College, Lalitpur',
       'Thapathali Engineering Campus, Thapathali', 'Tri-chandra',
       'Tri-Chandra Multiple Campus, Kathmandu',
       'Trichandra multie college '], dtype=object)

In [65]:
def filter_col(v):
    v=v.upper()
    if 'ENGINEERING' in v or 'PULCHOWK' in v:
        return 'Engineering'
    elif 'IT' in v:
        return 'IT'
    else:
        return 'Others'
df.College = df.College.apply(filter_col)
df.head()

,Name,Contact,Email,Year,College,Stream,PreviouslyDone,Shift
0,Sijan Shrestha,9.818190e+09,sijan.shrestha135@gmail.com,1st year,Others,+2,No,Morning (8:00am - 9:30am)
1,Bijendra Kumar Gupta,9.849088e+09,info.oseen@gmail.com,4th year,IT,Electrical & Electronics,Yes,Evening (5:15pm - 6:45pm)
5,Sumit Karna,9.845366e+09,karnasumit85@gmail.com,1st year,Engineering,Computer,No,Evening (5:15pm - 6:45pm)
6,Dhiraj Sah,9.866046e+09,sahilrocks986@gmail.com,3rd year,Engineering,Computer,No,Evening (5:15pm - 6:45pm)
7,Sambad Khatiwada,9.840686e+09,sambadkhatiwada939@gmail.com,1st year,Engineering,Computer,No,Evening (5:15pm - 6:45pm)

In [66]:
## standarize year
def filter_yr(v):
    if '1' in v:
        return 1
    elif '2' in v:
        return 2
    elif '3' in v:
        return 3
    elif '4' in v:
        return 4
df.Year=df.Year.apply(filter_yr)
df.head()

,Name,Contact,Email,Year,College,Stream,PreviouslyDone,Shift
0,Sijan Shrestha,9.818190e+09,sijan.shrestha135@gmail.com,1,Others,+2,No,Morning (8:00am - 9:30am)
1,Bijendra Kumar Gupta,9.849088e+09,info.oseen@gmail.com,4,IT,Electrical & Electronics,Yes,Evening (5:15pm - 6:45pm)
5,Sumit Karna,9.845366e+09,karnasumit85@gmail.com,1,Engineering,Computer,No,Evening (5:15pm - 6:45pm)
6,Dhiraj Sah,9.866046e+09,sahilrocks986@gmail.com,3,Engineering,Computer,No,Evening (5:15pm - 6:45pm)
7,Sambad Khatiwada,9.840686e+09,sambadkhatiwada939@gmail.com,1,Engineering,Computer,No,Evening (5:15pm - 6:45pm)

In [57]:
## Standardize faculty
# category : IT | Non-IT

df.Stream.unique()

array(['+2', 'Electrical & Electronics', 'Computer', 'BCA', 'Electronics',
       'Electrical', 'Bsc. CSIT', 'IT', 'Computer Science', 'Bsc CSIT',
       'BscSCIT', 'Civil', 'BEIT', 'IT Engineering ', 'BE IT',
       'Information Technology', 'CSIT', 'Mechanical', 'Aerospace',
       'Chemical', 'industrial', 'Industrial', 'Physics', 'B.Sc. physics'],
      dtype=object)

In [67]:
## IT --> Electrical | Electronics | Computer | IT

def filter_fc(v):
    v=v.lower()
    if 'electrical' in v or 'electronics' in v or 'computer' in v or 'it' in v:
        return 'IT'
    else:
        return 'Non-IT'

df.Stream= df.Stream.apply(filter_fc)
df.head()

,Name,Contact,Email,Year,College,Stream,PreviouslyDone,Shift
0,Sijan Shrestha,9.818190e+09,sijan.shrestha135@gmail.com,1,Others,Non-IT,No,Morning (8:00am - 9:30am)
1,Bijendra Kumar Gupta,9.849088e+09,info.oseen@gmail.com,4,IT,IT,Yes,Evening (5:15pm - 6:45pm)
5,Sumit Karna,9.845366e+09,karnasumit85@gmail.com,1,Engineering,IT,No,Evening (5:15pm - 6:45pm)
6,Dhiraj Sah,9.866046e+09,sahilrocks986@gmail.com,3,Engineering,IT,No,Evening (5:15pm - 6:45pm)
7,Sambad Khatiwada,9.840686e+09,sambadkhatiwada939@gmail.com,1,Engineering,IT,No,Evening (5:15pm - 6:45pm)

#### Step 4 : Analyze the data
<!-- Get your answers -->

In [75]:
df=df[['Stream','Year','College','Name']]
df.rename(columns={'Name':'Count'})
df_ag=df.groupby(['Stream','Year','College']).count()
df_ag

                         Count
Stream Year College
IT     1    Engineering    206
            IT               3
            Others           5
       2    Engineering     68
            IT               2
            Others           2
       3    Engineering     45
            IT               6
            Others           1
       4    Engineering      2
            IT               1
            Others           1
Non-IT 1    Engineering      7
            IT               1
            Others           1
       2    Engineering     12
       3    Engineering      5
       4    Engineering      1
            Others           2

#### Step 5 : Visualize and share your findings

In [ ]:
import plotly.express as px

In [73]:
df_ag.reset_index()

    Stream  Year      College  Count
0       IT     1  Engineering    206
1       IT     1           IT      3
2       IT     1       Others      5
3       IT     2  Engineering     68
4       IT     2           IT      2
5       IT     2       Others      2
6       IT     3  Engineering     45
7       IT     3           IT      6
8       IT     3       Others      1
9       IT     4  Engineering      2
10      IT     4           IT      1
11      IT     4       Others      1
12  Non-IT     1  Engineering      7
13  Non-IT     1           IT      1
14  Non-IT     1       Others      1
15  Non-IT     2  Engineering     12
16  Non-IT     3  Engineering      5
17  Non-IT     4  Engineering      1
18  Non-IT     4       Others      2

In [80]:
px.pie(df,values='Count',names='Stream')