# Numpy

## Why numpy??

In [1]:
import numpy as np
from timeit import timeit

def NPFunc():
    np.sum(np.power(np.arange(1,2000000), 2))
    return None


def PyFunc():
    sum([x*x for x in range(1,2000000)])
    # res = 0
    # for x in range(1,200000):
    #     res += math.pow(x,2)
    return None


print(timeit(NPFunc, number=1))
print(timeit(PyFunc, number=1))

0.029838398999999072
0.4973828640000022

Numpy operations are a lot faster than built in python operations.

## Numpy array declaration and initialization

In [2]:
arr1 = np.array([]) # declares an empty array
print(arr1)

sample_list = [1, 2, 3, 4, 5]
arr2 = np.array(sample_list) # initializes a numpy array using python list
print(arr2)

[]
[1 2 3 4 5]

## Creating 1D and 2D array and initialize with zero

In [ ]:
#creates 1D array containing zeros
np.zeros(shape=3)

array([0., 0., 0.])

In [ ]:
#creates 2D array containing zeros
np.zeros(shape=(3,3))#tuple must be provided as an input,(3,3) makes 2D matrix of size 3*3

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

## Creating 1D and 2D array and initialize with one

In [3]:
#creates 1D array containing ones
np.ones(shape=3)

array([1., 1., 1.])

In [4]:
#creates 2D array containing ones
np.ones(shape=(3,2))

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

## Creating identity matrix

In [5]:
np.eye(4) #4*4 identity matrix

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

## Random values

In [6]:
#1D array
np.random.rand(5)# Generate an array of random values of length 5 and values lies between 0 & 1

array([0.94558025, 0.95947647, 0.19921073, 0.13523719, 0.55870915])

In [7]:
#2D array
np.random.rand(2,3)# Generate an array of random values of shape 2*3

array([[0.602467  , 0.44441528, 0.54233334],
       [0.926806  , 0.11022771, 0.82283922]])

In [8]:
np.random.randint(1,100)# select a random integer between 1 to 100

74

## Attributes of numpy array

In [12]:
x = np.array([1, 2, 3])#1D
y = np.array([1.1, 2.8, 1, 3])#1D
z = np.random.rand(3,4)#2D

In [10]:
x.dtype# returns the data type of numpy array

dtype('int64')

In [11]:
y.dtype

dtype('float64')

In [ ]:
x.astype(dtype='float64')#changes the data type of the numpy array

array([1., 2., 3.])

In [13]:
y.astype(dtype='int64')

array([1, 2, 1, 3])

In [14]:
x.ndim #gives the number of dimension in the array

1

In [15]:
z.ndim

2

In [16]:
x.shape #gives the shape of an array

(3,)

In [17]:
z.shape

(3, 4)

In [18]:
x.size #gives total number of elements in the array

3

In [19]:
z.size

12

In [22]:
#reshape an array from 1D to 2D
print(f"y before reshape:\n{y}\n")
print(f"y after reshape: \n{y.reshape(2,2)}")#reshapes the array -->size of the array should be same while reshaping

y before reshape:
[1.1 2.8 1.  3. ]

y after reshape:
[[1.1 2.8]
 [1.  3. ]]

In [23]:
print(f"z before reshape:\n{z}\n")# 3 rows 4 cloumns
print(f"z after reshape:\n{z.reshape(4,3)}")#reshapes to 4 rows 3 cloumns

z before reshape:
[[0.12975586 0.40850878 0.22285784 0.62197612]
 [0.04590619 0.13044902 0.12605415 0.08418587]
 [0.01843059 0.57758455 0.98372901 0.53596404]]

z after reshape:
[[0.12975586 0.40850878 0.22285784]
 [0.62197612 0.04590619 0.13044902]
 [0.12605415 0.08418587 0.01843059]
 [0.57758455 0.98372901 0.53596404]]

In [24]:
#converting multidimensional array to 1D array
print(z.ravel())

[0.12975586 0.40850878 0.22285784 0.62197612 0.04590619 0.13044902
 0.12605415 0.08418587 0.01843059 0.57758455 0.98372901 0.53596404]

## Summary Statistics in the array

In [25]:
# For 1D array
mat1D=np.array([1,2,3,4,5,6,7])
print(f"mean: {np.mean(mat1D)}")
print(f"min: {np.min(mat1D)}")
print(f"max: {np.max(mat1D)}")
print(f"std: {np.std(mat1D)}")
print(f"median: {np.median(mat1D)}")
print((f"index of max element:{np.argmax(mat1D)}"))

mean: 4.0
min: 1
max: 7
std: 2.0
median: 4.0
index of max element:6

In [76]:
# For 2D array
axis = 0
mat2D=np.array([[1,7,3],[4,5,6]])
print(f"array: {mat2D}")
print(f"mean: {np.mean(mat2D,axis=axis)}")
print(f"min: {np.min(mat2D,axis=axis)}")
print(f"max: {np.max(mat2D,axis=axis)}")
print(f"std: {np.std(mat2D,axis=axis)}")
print(f"median: {np.median(mat2D,axis=axis)}")
print((f"index of max element:{np.argmax(mat2D,axis=axis)}"))

array: [[1 7 3]
 [4 5 6]]
mean: [2.5 6.  4.5]
min: [1 5 3]
max: [4 7 6]
std: [1.5 1.  1.5]
median: [2.5 6.  4.5]
index of max element:[1 0 1]

parameter: axis defines the direction along which the operations are to be performed.

![image.png]()

## Slicing of numpy array

In [30]:
#1D array
array_slice1D=np.array([-1,2,3,5,6])
array_slice1D[1:]

array([2, 3, 5, 6])

In [31]:
#2D array
array_slice2D=np.array([[1, 7, 3, 5, 8],
                        [4, 5, 6,-1, 4],
                        [2, 0, 6,-8, 9]])
array_slice2D[1:,2:]

array([[ 6, -1,  4],
       [ 6, -8,  9]])

In [32]:
array_slice2D[:2,:-2]

array([[1, 7, 3],
       [4, 5, 6]])

## Conditional Selection

In [33]:
conditional_array=np.arange(15)
conditional_array

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [ ]:
conditional_array[conditional_array>12]

array([13, 14])

np.where vs list comprehension

In [35]:
np.array([i if i>12 else 1 for i in conditional_array])

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, 13, 14])

In [36]:
np.where(conditional_array>12,conditional_array,1)

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, 13, 14])

# Pandas

In [37]:
import pandas as pd

What is series and dataframe?
- Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index.
- DataFrame is a 2-dimensional labeled data structure with columns of potentially different types.

## Creating Series from python dictionary

In [49]:
employee_dict={
          'name':['Aayush','Bishal','Gaurav','Kriti','Manjeet'],
          'roll_number':[7,28,37,43,48]
          }

name = pd.Series(employee_dict)
name

name           [Aayush, Bishal, Gaurav, Kriti, Manjeet]
roll_number                         [7, 28, 37, 43, 48]
dtype: object

## Creating Dataframe from list of python dictionary

In [50]:
employee_dict_df=pd.DataFrame(employee_dict)
employee_dict_df

      name  roll_number
0   Aayush            7
1   Bishal           28
2   Gaurav           37
3    Kriti           43
4  Manjeet           48

Note: Difference between Series and DataFrame
- Series works in form of index and values
- DataFrame is more like tabular form

## Creating DataFrame from python list

In [51]:
employee_list=[['Aayush',7],['Bishal',28],['Gaurav',37],['Kriti',43],['Manjeet',48]]

In [52]:
employee_list_df=pd.DataFrame(employee_list)
employee_list_df

         0   1
0   Aayush   7
1   Bishal  28
2   Gaurav  37
3    Kriti  43
4  Manjeet  48

In [53]:
employee_list_df.columns=['name','roll_number']
employee_list_df

      name  roll_number
0   Aayush            7
1   Bishal           28
2   Gaurav           37
3    Kriti           43
4  Manjeet           48

## Useful attributes and methods in panda

- `.values` : A 2d numpy array of values
- `.columns` : Index of columns, column names
- `.index` : An index of rows, either row numbers or row names
- `.shape` :return number of rows and columns of dataframe
- `.head()` :return first few row of dataframe
- `.tail()` :return last few row of dataframe
- `.info()` :shows information of each of the columns such as data type and number of missing values
- `.describe()` :calculate few summary statistics for each column

In [69]:
book_dict={
    'book_count':[272,491,np.nan,487,1356,226,969,360,311,3455,np.nan,210,995,896,710,274,201,376,566,239],
    'rating' : ['A','C', 'A', 'B','A', np.nan,'B','A','C','A', 'B', 'A','C','A',np.nan, 'B','A','C','A','C'], 

    'author':['Suzanne Collins','J.K. Rowling','Stephenie Meyer', 'Harper Lee', 'J.D. Salinger', 'John Green', \
              'J.R.R. Tolkien', 'J.D. Salinger','Dan Brown', 'Jane Austen', 'Khaled Hosseini', 'Veronica Roth', 'John Green',\
              'George Orwell', 'Anne Frank', 'Stieg Larsson, Reg Keeland', \
              'Suzanne Collins','J.K. Rowling',np.nan, 'Suzanne Collins'],
           
    'title':['The Hunger Games',"Harry Potter and the Philosopher's Stone",'Twilight','To Kill a Mockingbird',\
             'The Great Gatsby','The Fault in Our Stars','The Hobbit or There and Back Again', \
             'The Catcher in the Rye','Angels & Demons ','Pride and Prejudice','The Kite Runner ',\
             'Divergent','Nineteen Eighty-Four','Animal Farm: A Fairy Story','Het Achterhuis',\
             'Mn som hatar kvinnor',np.nan,'Harry Potter and the Prisoner of Azkaban',' The Fellowship of the Ring','Mockingjay']
}

In [70]:
book_df=pd.DataFrame(book_dict)
book_df.head()

,book_count,rating,author,title
0,272.0,A,Suzanne Collins,The Hunger Games
1,491.0,C,J.K. Rowling,Harry Potter and the Philosopher's Stone
2,NaN,A,Stephenie Meyer,Twilight
3,487.0,B,Harper Lee,To Kill a Mockingbird
4,1356.0,A,J.D. Salinger,The Great Gatsby

In [56]:
book_df.values

array([[272.0, 'A', 'Suzanne Collins', 'The Hunger Games'],
       [491.0, 'C', 'J.K. Rowling',
        "Harry Potter and the Philosopher's Stone"],
       [nan, 'A', 'Stephenie Meyer', 'Twilight'],
       [487.0, 'B', 'Harper Lee', 'To Kill a Mockingbird'],
       [1356.0, 'A', 'J.D. Salinger', 'The Great Gatsby'],
       [226.0, nan, 'John Green', 'The Fault in Our Stars'],
       [969.0, 'B', 'J.R.R. Tolkien',
        'The Hobbit or There and Back Again'],
       [360.0, 'A', 'J.D. Salinger', 'The Catcher in the Rye'],
       [311.0, 'C', 'Dan Brown', 'Angels & Demons '],
       [3455.0, 'A', 'Jane Austen', 'Pride and Prejudice'],
       [nan, 'B', 'Khaled Hosseini', 'The Kite Runner '],
       [210.0, 'A', 'Veronica Roth', 'Divergent'],
       [995.0, 'C', 'John Green', 'Nineteen Eighty-Four'],
       [896.0, 'A', 'George Orwell', 'Animal Farm: A Fairy Story'],
       [710.0, nan, 'Anne Frank', 'Het Achterhuis'],
       [274.0, 'B', 'Stieg Larsson, Reg Keeland',
        'Mn som hatar kvinnor'],
       [201.0, 'A', 'Suzanne Collins', nan],
       [376.0, 'C', 'J.K. Rowling',
        'Harry Potter and the Prisoner of Azkaban'],
       [566.0, 'A', nan, ' The Fellowship of the Ring'],
       [239.0, 'C', 'Suzanne Collins', 'Mockingjay']], dtype=object)

In [60]:
book_df.columns

Index(['book_count', 'rating', 'author', 'title'], dtype='object')

In [61]:
book_df.index

RangeIndex(start=0, stop=20, step=1)

In [62]:
book_df.shape

(20, 4)

In [63]:
book_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   book_count  18 non-null     float64
 1   rating      18 non-null     object
 2   author      19 non-null     object
 3   title       19 non-null     object
dtypes: float64(1), object(3)
memory usage: 768.0+ bytes

In [64]:
book_df.describe()

        book_count
count    18.000000
mean    688.555556
std     766.418963
min     201.000000
25%     272.500000
50%     431.500000
75%     849.500000
max    3455.000000

In [68]:
book_df.describe(include="O")

       rating           author             title
count      18               19                19
unique      3               15                19
top         A  Suzanne Collins  The Hunger Games
freq        9                3                 1

## Summary Statistics

- `.median()`
- `.mean()`
- `.mode()`
- `.max()`
- `.min()`
- `.var()`
- `.std()`
- `.sum()`
- .`value_counts()`

In [ ]:
book_df['book_count'].mean()

688.5555555555555

In [ ]:
book_df['author'].value_counts()

Suzanne Collins               3
J.K. Rowling                  2
J.D. Salinger                 2
John Green                    2
Stephenie Meyer               1
Harper Lee                    1
J.R.R. Tolkien                1
Dan Brown                     1
Jane Austen                   1
Khaled Hosseini               1
Veronica Roth                 1
George Orwell                 1
Anne Frank                    1
Stieg Larsson, Reg Keeland    1
Name: author, dtype: int64

### Handling missing values

In [ ]:
book_df.isna().sum()

book_count    2
rating        2
author        1
title         1
dtype: int64

In [ ]:
mean_book_count = book_df["book_count"].mean()
book_df["book_count"].fillna(mean_book_count, inplace=True)

In [ ]:
mode_of_ratings = book_df["rating"].mode()[0]
book_df["rating"].fillna(mode_of_ratings, inplace=True)

In [ ]:
book_df.dropna(axis=0, how='any', thresh=None, subset=["author"], inplace=True)
# axis: defines which direction the values are to be deleted
# how: Determine if row or column is removed from DataFrame, when we have at least one NA or all
# thresh: Require that many non-NA values
# subset: Labels along other axis to consider

### iloc vs loc for slicing
- loc: gets rows (and/or columns) with particular labels.

- iloc: gets rows (and/or columns) at integer locations.

In [77]:
book_df.iloc[:5]

,book_count,rating,author,title
0,272.0,A,Suzanne Collins,The Hunger Games
1,491.0,C,J.K. Rowling,Harry Potter and the Philosopher's Stone
2,NaN,A,Stephenie Meyer,Twilight
3,487.0,B,Harper Lee,To Kill a Mockingbird
4,1356.0,A,J.D. Salinger,The Great Gatsby

In [78]:
book_df.loc[:2,"book_count":"author"]#different than python slicing

# book_df.iloc[:2,"book_count":"author"] # throws error

   book_count rating           author
0       272.0      A  Suzanne Collins
1       491.0      C     J.K. Rowling
2         NaN      A  Stephenie Meyer

## Selection and assigning

In [ ]:
book_df[book_df["book_count"]>300]

,book_count,rating,author,title
1,491.000000,C,J.K. Rowling,Harry Potter and the Philosopher's Stone
2,688.555556,A,Stephenie Meyer,Twilight
3,487.000000,B,Harper Lee,To Kill a Mockingbird
4,1356.000000,A,J.D. Salinger,The Great Gatsby
6,969.000000,B,J.R.R. Tolkien,The Hobbit or There and Back Again
7,360.000000,A,J.D. Salinger,The Catcher in the Rye
8,311.000000,C,Dan Brown,Angels & Demons
9,3455.000000,A,Jane Austen,Pride and Prejudice
10,688.555556,B,Khaled Hosseini,The Kite Runner
12,995.000000,C,John Green,Nineteen Eighty-Four
13,896.000000,A,George Orwell,Animal Farm: A Fairy Story
14,710.000000,A,Anne Frank,Het Achterhuis
17,376.000000,C,J.K. Rowling,Harry Potter and the Prisoner of Azkaban

In [79]:
# Adding new columns
book_df["isAvailable"] = True # performs broadcasting to all rows
# book_df.isAvailable = True # can not create new columns using dot operator

# Accessing columns
book_df["isAvailable"]
book_df.isAvailable

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
Name: isAvailable, dtype: bool

## Grouping and sorting

In [ ]:
book_df.groupby(["author"]).sum()

                             book_count  isAvailable
author
Anne Frank                   710.000000            1
Dan Brown                    311.000000            1
George Orwell                896.000000            1
Harper Lee                   487.000000            1
J.D. Salinger               1716.000000            2
J.K. Rowling                 867.000000            2
J.R.R. Tolkien               969.000000            1
Jane Austen                 3455.000000            1
John Green                  1221.000000            2
Khaled Hosseini              688.555556            1
Stephenie Meyer              688.555556            1
Stieg Larsson, Reg Keeland   274.000000            1
Suzanne Collins              712.000000            3
Veronica Roth                210.000000            1

In [ ]:
book_df.sort_values(["author", "book_count"])#try ascending=False

,book_count,rating,author,title,isAvailable
14,710.000000,A,Anne Frank,Het Achterhuis,True
8,311.000000,C,Dan Brown,Angels & Demons,True
13,896.000000,A,George Orwell,Animal Farm: A Fairy Story,True
3,487.000000,B,Harper Lee,To Kill a Mockingbird,True
7,360.000000,A,J.D. Salinger,The Catcher in the Rye,True
4,1356.000000,A,J.D. Salinger,The Great Gatsby,True
17,376.000000,C,J.K. Rowling,Harry Potter and the Prisoner of Azkaban,True
1,491.000000,C,J.K. Rowling,Harry Potter and the Philosopher's Stone,True
6,969.000000,B,J.R.R. Tolkien,The Hobbit or There and Back Again,True
9,3455.000000,A,Jane Austen,Pride and Prejudice,True
5,226.000000,A,John Green,The Fault in Our Stars,True
12,995.000000,C,John Green,Nineteen Eighty-Four,True
10,688.555556,B,Khaled Hosseini,The Kite Runner,True
2,688.555556,A,Stephenie Meyer,Twilight,True
15,274.000000,B,"Stieg Larsson, Reg Keeland",Mn som hatar kvinnor,True
16,201.000000,A,Suzanne Collins,NaN,True
19,239.000000,C,Suzanne Collins,Mockingjay,True
0,272.000000,A,Suzanne Collins,The Hunger Games,True
11,210.000000,A,Veronica Roth,Divergent,True

In [ ]:
book_df.rename(columns={'author': 'Author', 'book_count': 'Book_counts'})

,Book_counts,rating,Author,title,isAvailable
0,272.000000,A,Suzanne Collins,The Hunger Games,True
1,491.000000,C,J.K. Rowling,Harry Potter and the Philosopher's Stone,True
2,688.555556,A,Stephenie Meyer,Twilight,True
3,487.000000,B,Harper Lee,To Kill a Mockingbird,True
4,1356.000000,A,J.D. Salinger,The Great Gatsby,True
5,226.000000,A,John Green,The Fault in Our Stars,True
6,969.000000,B,J.R.R. Tolkien,The Hobbit or There and Back Again,True
7,360.000000,A,J.D. Salinger,The Catcher in the Rye,True
8,311.000000,C,Dan Brown,Angels & Demons,True
9,3455.000000,A,Jane Austen,Pride and Prejudice,True
10,688.555556,B,Khaled Hosseini,The Kite Runner,True
11,210.000000,A,Veronica Roth,Divergent,True
12,995.000000,C,John Green,Nineteen Eighty-Four,True
13,896.000000,A,George Orwell,Animal Farm: A Fairy Story,True
14,710.000000,A,Anne Frank,Het Achterhuis,True
15,274.000000,B,"Stieg Larsson, Reg Keeland",Mn som hatar kvinnor,True
16,201.000000,A,Suzanne Collins,NaN,True
17,376.000000,C,J.K. Rowling,Harry Potter and the Prisoner of Azkaban,True
19,239.000000,C,Suzanne Collins,Mockingjay,True